<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icon/favicon-16x16.png">
    <link rel="manifest" href="img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Digital Shift</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">{{ $t("common.company_name") }}</a>
        <a class="typeform-share button btn btn-lg btn-danger" :href="typeform_url" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank" style="z-index: 1;">{{ $t("common.signup") }}</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">{{ $t("value_proposition.first") }} <br/>
              <b>{{ $t("value_proposition.second") }}</b>
            </h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row center-content">
                <div class="col-12 col-md-3">
                    <a class="typeform-share button btn btn-lg btn-danger" :href="typeform_url" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank" style="z-index: 1;">{{ $t("common.signup") }}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>{{ $t("grid.1.title") }}</h3>
              <p class="lead mb-0">
                  {{ $t("grid.1.subtitle") }}
            </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>{{ $t("grid.2.title") }}</h3>
              <p class="lead mb-0">
                  {{ $t("grid.2.subtitle") }}
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>{{ $t("grid.3.title") }}</h3>
              <p class="lead mb-0">
                  {{ $t("grid.3.subtitle") }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');background-position:center;"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h1>{{ $t("showcase.1.title") }}</h1>
            <h3 class="quote">{{ $t("showcase.1.subtitle") }}</h3>
            <br>
            <p class="lead mb-0">
                {{ $t("showcase.1.content") }}
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/discovery3.gif');background-position:center;"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h1>{{ $t("showcase.2.title") }}</h1>
            <h3 class="quote">{{ $t("showcase.2.subtitle") }}</h3>
            <br>
            <p class="lead mb-0">
                {{ $t("showcase.2.content") }}
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h1>{{ $t("showcase.3.title") }}</h1>
            <h3 class="quote">{{ $t("showcase.3.subtitle") }}</h3>
            <br>
            <p class="lead mb-0">
                {{ $t("showcase.3.content") }}
            </p>
          </div>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/production.png');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>{{ $t("showcase.4.title") }}</h2>
              <h3 class="quote">{{ $t("showcase.4.subtitle") }}</h3>
              <br>
              <p class="lead mb-0">
                  {{ $t("showcase.4.content") }}
                </p>
            </div>
          </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <div style="background: #272822; height: 100%; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em; font-size: 1.6rem;">
                  <br/><table>
                    <tr>
                    <td style="margin: 0;line-height: 210%;width: 20px; border-style: solid; border-color: #a6e22e; border-width: 0px 2px 0px 0px;">
                    1
                    2
                    3
                    4
                    5
                    6
                    7
                    </td>
                <td>
                  <pre style="margin: 0; line-height: 200%"><span style="color: #ca0256">private</span> <span style="color: #ca0256">static</span> <span style="color: #66d9ef">int</span> <span style="color: #a6e22e">updateDesktop</span> <span style="color: #f92672">(</span><span style="color: #66d9ef">Image</span> <span style="color: #f8f8f2">wallpaper</span><span style="color: #f92672">)</span> <span style="color: #f92672">{</span>
                  <span style="color: #66d9ef">int</span> <span style="color: #f8f8f2">happyness</span><span style="color: #f92672">;</span>
                  <span style="color: #66d9ef">MyDesktop</span> <span style="color: #f8f8f2">desktop</span> <span style="color: #f92672">=</span> <span style="color: #66d9ef">new</span> <span style="color: #f8f8f2">MyDesktop</span><span style="color: #f92672">();</span>
                  <span style="color: #f8f8f2">desktop</span><span style="color: #f92672">.</span><span style="color: #a6e22e">apply</span><span style="color: #f92672">(</span><span style="color: #f8f8f2">wallpaper</span><span style="color: #f92672">);</span>
                  <span style="color: #f8f8f2">happyness</span> <span style="color: #f92672">=</span> <span style="color: #6b06d4">INFINITY</span><span style="color: #f92672">;</span>
                  <span style="color: #f92672">return</span> <span style="color: #f8f8f2">happyness</span><span style="color: #f92672">;</span>
                  <span style="color: #f92672;">}</span>
                </pre></td>
                </tr>
                </table>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h1>{{ $t("showcase.5.title") }}</h1>
              <h3 class="quote">{{ $t("showcase.5.subtitle") }}</h3>
              <br>
              <p class="lead mb-0">
                  {{ $t("showcase.5.content") }}
                </p>
            </div>
          </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/video4.gif');background-position:center;"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h1>{{ $t("showcase.6.title") }}</h1>
              <h3 class="quote">{{ $t("showcase.6.subtitle") }}</h3>
              <br>
                <p class="lead mb-0">
                  {{ $t("showcase.6.content") }}                  
                  </p>
            </div>          
        <div class="row no-gutters">  
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/video.jpg');background-position:center;"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h1>{{ $t("showcase.7.title") }}</h1>
            <h3 class="quote">{{ $t("showcase.7.subtitle") }}</h3>
          <br>
            <p class="lead mb-0">
                {{ $t("showcase.7.content") }}                                  
              </p>
        </div>
      </div>

    </div>

      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light" v-if="locale() === 'en'">
      <div class="container">
        <h2 class="mb-5">Any question ? Ask our lovely bot</h2>
        <iframe
        v-if="loaded"
        width="100%"
        height="430"
        style="border: none;"
        :src="dialowflow_url"></iframe>
      </div>
    </section>
    <section class="testimonials text-center bg-light" v-if="locale() === 'fr'">
        <div class="container">
          <h2 class="mb-5">Any question ? Ask our lovely bot on messeger</h2>
          <a href="https://www.messenger.com/t/digitalshift.ee">
          <i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i>
          </a>
        </div>
      </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">{{ $t("common.signup_sentence") }}</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row center-content">
                <div class="col-12 col-md-3">
                    <a class="typeform-share button btn btn-lg btn-danger" :href="typeform_url" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank" style="z-index: 1;">{{ $t("common.signup") }}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="mailto:digitalshift.ee@gmail.com" target="_top">{{ $t("footer.contact") }}</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="pages/privacypolicy.html">{{ $t("footer.privacy") }}</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSegXHjwus5qdwwlB2PfsegpMGXhAA8jYmFRSvd0VweoD7IH4A/viewform" target="_blank">{{ $t("footer.jobs") }}</a>
              </li>              
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; {{ $t("common.company_name") }} 2017. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-medium fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </div>

    <script src="https://unpkg.com/vue@2.5.8/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="translations/fr.js"></script>
    <script src="translations/en.js"></script>
    <script src="translations/ee.js"></script>
    
    <script>
        const browserLanguagePropertyKeys = ['languages', 'language', 'browserLanguage', 'userLanguage', 'systemLanguage'];
        const availableLanguages = ['fr', 'ee', 'en'];
        var getLangs = function () {
          var langs = []
          for (let index = 0; index < browserLanguagePropertyKeys.length; index++) {
            const element = browserLanguagePropertyKeys[index];
            if (window.navigator[element]) {
              if (typeof window.navigator[element] === 'string') {
                if (window.navigator[element].indexOf('_') > -1) {
                  langs.push(window.navigator[element].split('_')[0])
                } else if (window.navigator[element].indexOf('-') > -1) {
                  langs.push(window.navigator[element].split('-')[0])
                } else {
                  langs.push(window.navigator[element])
                }
              } else {
                langs = langs.concat(window.navigator[element])
              }
            }
          }
          return langs;
        }
        const langs = getLangs();
        function isLocal(element) {
          return availableLanguages[availableLanguages.indexOf(element)]
        }
        const detectedLocale = langs.find(isLocal)
        const locale = detectedLocale || 'en';
        const i18n = new VueI18n({
          locale: 'en',
          fallbackLocale: 'en',
          messages: window.landing,
        })
        new Vue({ 
          i18n,
          data: function(){
                return {
                  loaded: false
                }
              },
          methods: {
            locale: function () {
              return locale;
            }
          },
          computed: {
            typeform_url: function () {
              const url = 'https://riderx.typeform.com/to/' + window.landing[locale].common.typeform_id
              return url;
            },
            dialowflow_url: function () {
              const url = 'https://app.talky.cards/?api=' + window.landing[locale].common.dialogflow_id
              console.log(url)
              return url;
            }
          },
          mounted() { 
            i18n.locale = locale;
            console.log('lang', locale)
            this.loaded = true;            
          }
        }).$mount('#app')
    </script>
    <script src="vendor/jquery/jquery.min.js"></script>    
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </body>

</html>
