body {
  @include body-font;
  color: white;
  background-color: $blue-forgr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 400;
}

.navbar-brand {
color: $blue-light-forgr !important;
}

.navbar-brand {
  font-weight: bold;
}

.forgr {
  background-color: $blue-forgr;
}

.light-forgr {
  background-color: $blue-light-forgr;
}

.forgr-text {
  color: $blue-forgr;
}

.light-forgr-text {
  color: $blue-light-forgr;
}

.btn-primary {
  background-color: $blue-light-forgr;
  border-color: $blue-light-forgr;
}

.text-primary {
  color: $blue-light-forgr !important;
}

a {
  color: $blue-light-forgr;
}

.brand-logo {
  margin-bottom: 1rem;
  width: 200px;
  @media screen and (max-width: 440px) {
    width: 100px;
  }
}

.user-icon {
  margin-bottom: 1rem;
  width: 200px;
  border: solid $blue-light-forgr;
  @media screen and (max-width: 440px) {
    width: 100px;
  }
}

.brand-logo-icon {
  margin-bottom: 1rem;
  width: 70px;
}

.btn-lg {
  border-radius: 0;
}