.tile1 {
  background-image: url('./img/idea.jpg');
  background-position:center;
}

.tile2 {
  background-image: url('./img/discovery.gif');
  background-position:center;
}

.tile3 {
  background-image: url('./img/blueprint.jpg');
}

.tile4 {
  background-image: url('./img/ui.png');
}

.tile5 {
  background-image: url('./img/demo-app.gif');
  background-position:center;
}

.tile6 {
  background-image: url('./img/video.jpg');
  background-position:center;
}
