.tiles {
  background-color: $blue-light-forgr;
}

.tile-left {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $blue-forgr; 
  // $blue-light-forgr: #3f5fac;
}

.tile-right {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $blue-light-forgr;
}

.tile1 {
  background-image: url('./assets/idea.jpg');
  background-position:center;
}

.tile2 {
  background-image: url('./assets/discovery.gif');
  background-position:center;
}

.tile3 {
  background-image: url('./assets/blueprint.jpg');
}

.tile4 {
  background-image: url('./assets/ui.png');
}

.tile5 {
  background-image: url('./assets/demo-app.gif');
  background-position:center;
}

.tile6 {
  background-image: url('./assets/video.jpg');
  background-position:center;
}
